body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  background-color: blueviolet;
}

#question-container {
  margin: 20px;
  background-color: beige;
}

#question {
  margin-bottom: 10px;
}

#options {
  list-style-type: none;
  padding: 0;
}

#options li {
  margin-bottom: 5px;
}

#start-button {
  display: block;
  margin: 20px auto;
  background-color: aquamarine;
}
